*

!.gitignore
!mise.toml
!README.md

!.devcontainer/
!.devcontainer/devcontainer.json

!golang/
!golang/README.md
!golang/main.go
!golang/go.mod
!golang/go.sum
!golang/dagger.json

!docker/
!docker/README.md
!docker/main.go
!docker/go.mod
!docker/go.sum
!docker/dagger.json
!docker/example/
!docker/example/Dockerfile

!protobuf/
!protobuf/README.md
!protobuf/main.go
!protobuf/go.mod
!protobuf/go.sum
!protobuf/dagger.json
!protobuf/example/
!protobuf/example/v1/
!protobuf/example/v1/*.proto
!protobuf/example/v1/buf.*.yaml